@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




header {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}


.about p {
    text-align: left;
}

html,
body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    left: 100px;
    justify-content: center;


}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 100;
}

h3 {
    color: red;
}






.menu ul {
    display: inline-flex;
    margin: 60px;
    height: 800px;


}

.menu ul a {
    list-style: none;
    margin: 0 20px;
    color: white;
    cursor: crosshair;
    text-decoration: none;
}

.menu a:hover,
.menu a:active {
    color: aqua;
}


.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
}

.social-media a:link {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    margin: 0 10px;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.social-media a:hover {
    background-color: #0e86d4;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    left: -40px;

    background-image: url("animemove.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    color: white;
}


header {
    color: aqua;
    padding: 30px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: transparent color white;
    line-height: 100px;

}
